.navbar-expand-lg {
    /*background-color: #DEFCFF;*/
    font-family: 'Lato-light', sans-serif;
    
}

div.container {
    /*border: medium none !important;*/
    float: center;
    border: 1px solid #DCDCDC;
    margin: auto;
    min-width: 98%;
    padding: 20px;
    padding-top: 20px;
    width: 98%;
    background-color: #EAE6E3;
    border-radius: 5px;
    box-shadow: 0 0 2px #DCDCDC;
}
