<script>
        var ctx = document.getElementById("weekly_rr_summary").getContext('2d')
        var myLineChart = new Chart(ctx, {
            type: 'line',
            data: {
                //labels: {{ hr_labels }},
                datasets: [{
                    label: "Respiratory Rate",
                    data: {{ rr_data }},
                    borderColor: 'rgba(255, 171, 92, 1)',
                    backgroundColor: 'rgba(255, 171, 92, 0.1)',
                    borderWidth: 1,
                }]
            }
        });
    </script>