
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Django + Charts.js</title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
 
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    <script src='https://cdn.jsdelivr.net/npm/chart.js@2.8.0/dist/Chart.min.js'></script>

    </head>
  
    <body>    
            // Heart Rate Chart
            <div class='col-sm-12' data-custom-chart="true" data-endpoint='/chartHR/' data-label="timeStamp" data-dataset="avg_result">
                <h1>HR Chart </h1>
                <div class='col-sm-6'>
                    <canvas id="myChart" width="400" height="400" data-chart="true"></canvas>
                </div>
        
            </div>

            //Respiratory chart
            <div class='col-sm-12' data-custom-chart="true" data-endpoint='/chartRR/' data-label="timeStamp" data-dataset="avg_result">
                <h1>RR Chart <!--{{device}}--> </h1>
                <div class='col-sm-6'>
                    <canvas id="myChart" width="400" height="400" data-chart="true"></canvas>
                </div>
        
            </div>
  
    //Script for the chart
    <script>
                ;(function($, window, undefined) {
                    'use strict';
                
                    var pluginName = 'custom-chart';
                    
                    var initChart = function(param, isUpdate) {
                    var that = this,
                        opts = that.options,
                        ele = that.element,
                        labels = [],
                        defaultData = [],
                        endpoint = opts.endpoint;
                    
                    $.ajax({
                        type: "GET",
                        url: endpoint,
                        data: {
                        // range: param
                        min: that.filter.find('option:selected').data('min'),
                        max: that.filter.find('option:selected').data('max')
                        },
                        success: function(data){   
                        console.log(data);
                        labels = data.map(v => v[ele.data('label')]);
                        defaultData = data.map(v => Number(v[ele.data('dataset')]));
                        setChart.call(that, {labels: labels, defaultData: defaultData}, isUpdate);
                        },
                        error: function(error, textStatus, errorThrown) {
                        console.log(error);
                        console.log(textStatus);
                        console.log(errorThrown);
                        }
                    });
                    }
                    
                    var setChart = function (data, isUpdate) {
                    var that = this,
                        ele = that.element;
                    
                    if(isUpdate) {
                        that.chartJs.data.labels = data.labels;
                        that.chartJs.data.datasets[0].data = data.defaultData;
                        that.chartJs.update();
                    } else {
                        that.chartJs = new Chart(ele.find('[data-chart]'), {
                        type: 'line',
                        data: {
                            labels: data.labels,
                            datasets: [{
                            label: '# of Rates',
                            data: data.defaultData,
                            backgroundColor: [
                                'rgba(255, 99, 132, 0.2)',
                                'rgba(54, 162, 235, 0.2)',
                                'rgba(255, 206, 86, 0.2)',
                                'rgba(75, 192, 192, 0.2)',
                                'rgba(153, 102, 255, 0.2)',
                                'rgba(255, 159, 64, 0.2)'
                            ],
                            borderColor: [
                                'rgba(255,99,132,1)',
                                'rgba(54, 162, 235, 1)',
                                'rgba(255, 206, 86, 1)',
                                'rgba(75, 192, 192, 1)',
                                'rgba(153, 102, 255, 1)',
                                'rgba(255, 159, 64, 1)'
                            ],
                            borderWidth: 2
                            }]
                        },
                        options: {
                            scales: {
                            yAxes: [{
                                ticks: {
                                beginAtZero:true
                                }
                            }]
                            }
                        }
                        });
                    }
                    }
                    
                    var initFilter = function() {
                    var that = this;
                    
                    that.filter.on('change', function() {
                        initChart.call(that, $(this).val(), true);
                    });
                    }
                
                    function CustomChart(element, options) {
                    this.element = $(element);
                    this.options = $.extend({}, $.fn[pluginName].defaults, this.element.data(), options);
                    this.init();
                    }
                
                    CustomChart.prototype = {
                    init: function() {
                        var that = this,
                            ele = that.element,
                            opts = that.options;
                        
                        that.defaultData = [];
                        that.labels = [];
                        that.filter = ele.find('[data-filter]');
                        
                        initChart.call(that, 'all');
                        initFilter.call(that);
                    },
                    destroy: function() {
                        // remove events
                        // deinitialize
                        $.removeData(this.element[0], pluginName);
                    }
                    };
                
                    $.fn[pluginName] = function(options, params) {
                    return this.each(function() {
                        var instance = $.data(this, pluginName);
                        if (!instance) {
                        $.data(this, pluginName, new CustomChart(this, options));
                        } else if (instance[options]) {
                        instance[options](params);
                        }
                    });
                    };
                
                    $.fn[pluginName].defaults = {
                    };
                
                    $(function() {
                    // $('[data-' + pluginName + ']').on('customEvent', function() {
                    //   // to do
                    // });
                
                    $('[data-' + pluginName + ']')[pluginName]({
                        // key: 'custom'
                    });
                    });
                
                }(jQuery, window));
   </script>
  </body>
</html>
