{% extends 'pulse_tracer/base_view.html' %}
{% block content %}
    <div class="container">
        <h2>{{ patient.user.first_name }}'s Profile</h2>
        <p class="card-text">First name: {{ patient.user.first_name }}</p>
        <p class="card-text">Last name: {{ patient.user.last_name }}</p>
        <p class="card-text">Birthdate: {{ patient.birth_date }}</p>
        <p class="card-text">Height: {{ patient.height }}</p>
        <p class="card-text">Health Conditions: {{ patient.health_conditions }}</p>
        <hr>
        Health Care Providers:
        <!--<p class="card-text">Health Care Provider: {{ patient.health_care_provider }}</p>-->
        {% for health_care in patient.health_care_provider.all %}
            <p>{{ health_care.user.first_name }} {{ health_care.user.last_name }}</p>
        {% endfor %}
        <a class="btn" href="{% url 'patient_update' %}"><i class="icon-edit"></i> Edit Profile</a>
    </div>
{% endblock %}